# File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

from __future__ import annotations

from typing_extensions import Literal

import httpx

from ..types import proxy_list_params, proxy_check_params, proxy_create_params, proxy_update_params
from .._types import Body, Omit, Query, Headers, NoneType, NotGiven, SequenceNotStr, omit, not_given
from .._utils import path_template, maybe_transform, async_maybe_transform
from .._compat import cached_property
from .._resource import SyncAPIResource, AsyncAPIResource
from .._response import (
    to_raw_response_wrapper,
    to_streamed_response_wrapper,
    async_to_raw_response_wrapper,
    async_to_streamed_response_wrapper,
)
from ..pagination import SyncOffsetPagination, AsyncOffsetPagination
from .._base_client import AsyncPaginator, make_request_options
from ..types.proxy_list_response import ProxyListResponse
from ..types.proxy_check_response import ProxyCheckResponse
from ..types.proxy_create_response import ProxyCreateResponse
from ..types.proxy_update_response import ProxyUpdateResponse
from ..types.proxy_retrieve_response import ProxyRetrieveResponse

__all__ = ["ProxiesResource", "AsyncProxiesResource"]


class ProxiesResource(SyncAPIResource):
    """Create and manage proxy configurations for routing browser traffic."""

    @cached_property
    def with_raw_response(self) -> ProxiesResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/kernel/kernel-python-sdk#accessing-raw-response-data-eg-headers
        """
        return ProxiesResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> ProxiesResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/kernel/kernel-python-sdk#with_streaming_response
        """
        return ProxiesResourceWithStreamingResponse(self)

    def create(
        self,
        *,
        type: Literal["datacenter", "isp", "residential", "mobile", "custom"],
        bypass_hosts: SequenceNotStr[str] | Omit = omit,
        config: proxy_create_params.Config | Omit = omit,
        name: str | Omit = omit,
        protocol: Literal["http", "https"] | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> ProxyCreateResponse:
        """
        Create a new proxy configuration in the resolved project.

        Args:
          type: Proxy type to use. In terms of quality for avoiding bot-detection, from best to
              worst: `mobile` > `residential` > `isp` > `datacenter`.

          bypass_hosts: Hostnames that should bypass the parent proxy and connect directly.

          config: Configuration specific to the selected proxy `type`.

          name: Readable name of the proxy.

          protocol: Protocol to use for the proxy connection.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._post(
            "/proxies",
            body=maybe_transform(
                {
                    "type": type,
                    "bypass_hosts": bypass_hosts,
                    "config": config,
                    "name": name,
                    "protocol": protocol,
                },
                proxy_create_params.ProxyCreateParams,
            ),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=ProxyCreateResponse,
        )

    def retrieve(
        self,
        id: str,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> ProxyRetrieveResponse:
        """
        Retrieve a proxy in the resolved project by ID.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not id:
            raise ValueError(f"Expected a non-empty value for `id` but received {id!r}")
        return self._get(
            path_template("/proxies/{id}", id=id),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=ProxyRetrieveResponse,
        )

    def update(
        self,
        id: str,
        *,
        name: str,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> ProxyUpdateResponse:
        """Update a proxy's name.

        Proxy names are not unique and are not ID-or-name
        addressable on this endpoint; duplicate names are allowed. Name-based
        session-create lookups can remain ambiguous until callers resolve proxies by ID
        or the API adds a stronger uniqueness contract.

        Args:
          name: New proxy name. Proxy names are trimmed and length-checked only; duplicates are
              allowed because proxies are updated by ID, not by name.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not id:
            raise ValueError(f"Expected a non-empty value for `id` but received {id!r}")
        return self._patch(
            path_template("/proxies/{id}", id=id),
            body=maybe_transform({"name": name}, proxy_update_params.ProxyUpdateParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=ProxyUpdateResponse,
        )

    def list(
        self,
        *,
        limit: int | Omit = omit,
        name: str | Omit = omit,
        offset: int | Omit = omit,
        query: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> SyncOffsetPagination[ProxyListResponse]:
        """
        List proxies in the resolved project.

        Args:
          limit: Limit the number of proxies to return.

          name: Exact-match filter on proxy name using the database collation. In production,
              matching is case- and accent-insensitive. Names are not required to be unique,
              so multiple proxies may match.

          offset: Offset the number of proxies to return.

          query: Case-insensitive substring match against proxy name, host, or IP address. IDs
              match by exact value.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._get_api_list(
            "/proxies",
            page=SyncOffsetPagination[ProxyListResponse],
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=maybe_transform(
                    {
                        "limit": limit,
                        "name": name,
                        "offset": offset,
                        "query": query,
                    },
                    proxy_list_params.ProxyListParams,
                ),
            ),
            model=ProxyListResponse,
        )

    def delete(
        self,
        id: str,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> None:
        """Soft delete a proxy.

        Session records referencing it are not modified. If egress
        binding polling is enabled, existing tunnels for active sessions using the proxy
        are terminated within one polling interval; subsequent connections through the
        deleted proxy are rejected.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not id:
            raise ValueError(f"Expected a non-empty value for `id` but received {id!r}")
        extra_headers = {"Accept": "*/*", **(extra_headers or {})}
        return self._delete(
            path_template("/proxies/{id}", id=id),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=NoneType,
        )

    def check(
        self,
        id: str,
        *,
        url: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> ProxyCheckResponse:
        """Run a health check on the proxy to verify it's working.

        Optionally specify a URL
        to test reachability against a specific target. For ISP and datacenter proxies,
        this reliably tests whether the target site is reachable from the proxy's stable
        exit IP. For residential and mobile proxies, the exit node varies between
        requests, so this validates proxy configuration and connectivity rather than
        guaranteeing site-specific reachability.

        Args:
          url: An optional URL to test reachability against. If provided, the proxy check will
              test connectivity to this URL instead of the default test URLs. Only HTTP and
              HTTPS schemes are allowed, and the URL must resolve to a public IP address. For
              ISP and datacenter proxies, the exit IP is stable, so a successful check
              reliably indicates that subsequent browser sessions will reach the target site
              with the same IP. For residential and mobile proxies, the exit node changes
              between requests, so a successful check validates proxy configuration but does
              not guarantee that a subsequent browser session will use the same exit IP or
              reach the same site — it is useful for verifying credentials and connectivity,
              not for predicting site-specific behavior. When provided, the check result does
              not update the proxy's health status, since a failure may indicate a problem
              with the target site rather than the proxy itself.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not id:
            raise ValueError(f"Expected a non-empty value for `id` but received {id!r}")
        return self._post(
            path_template("/proxies/{id}/check", id=id),
            body=maybe_transform({"url": url}, proxy_check_params.ProxyCheckParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=ProxyCheckResponse,
        )


class AsyncProxiesResource(AsyncAPIResource):
    """Create and manage proxy configurations for routing browser traffic."""

    @cached_property
    def with_raw_response(self) -> AsyncProxiesResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/kernel/kernel-python-sdk#accessing-raw-response-data-eg-headers
        """
        return AsyncProxiesResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AsyncProxiesResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/kernel/kernel-python-sdk#with_streaming_response
        """
        return AsyncProxiesResourceWithStreamingResponse(self)

    async def create(
        self,
        *,
        type: Literal["datacenter", "isp", "residential", "mobile", "custom"],
        bypass_hosts: SequenceNotStr[str] | Omit = omit,
        config: proxy_create_params.Config | Omit = omit,
        name: str | Omit = omit,
        protocol: Literal["http", "https"] | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> ProxyCreateResponse:
        """
        Create a new proxy configuration in the resolved project.

        Args:
          type: Proxy type to use. In terms of quality for avoiding bot-detection, from best to
              worst: `mobile` > `residential` > `isp` > `datacenter`.

          bypass_hosts: Hostnames that should bypass the parent proxy and connect directly.

          config: Configuration specific to the selected proxy `type`.

          name: Readable name of the proxy.

          protocol: Protocol to use for the proxy connection.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return await self._post(
            "/proxies",
            body=await async_maybe_transform(
                {
                    "type": type,
                    "bypass_hosts": bypass_hosts,
                    "config": config,
                    "name": name,
                    "protocol": protocol,
                },
                proxy_create_params.ProxyCreateParams,
            ),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=ProxyCreateResponse,
        )

    async def retrieve(
        self,
        id: str,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> ProxyRetrieveResponse:
        """
        Retrieve a proxy in the resolved project by ID.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not id:
            raise ValueError(f"Expected a non-empty value for `id` but received {id!r}")
        return await self._get(
            path_template("/proxies/{id}", id=id),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=ProxyRetrieveResponse,
        )

    async def update(
        self,
        id: str,
        *,
        name: str,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> ProxyUpdateResponse:
        """Update a proxy's name.

        Proxy names are not unique and are not ID-or-name
        addressable on this endpoint; duplicate names are allowed. Name-based
        session-create lookups can remain ambiguous until callers resolve proxies by ID
        or the API adds a stronger uniqueness contract.

        Args:
          name: New proxy name. Proxy names are trimmed and length-checked only; duplicates are
              allowed because proxies are updated by ID, not by name.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not id:
            raise ValueError(f"Expected a non-empty value for `id` but received {id!r}")
        return await self._patch(
            path_template("/proxies/{id}", id=id),
            body=await async_maybe_transform({"name": name}, proxy_update_params.ProxyUpdateParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=ProxyUpdateResponse,
        )

    def list(
        self,
        *,
        limit: int | Omit = omit,
        name: str | Omit = omit,
        offset: int | Omit = omit,
        query: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> AsyncPaginator[ProxyListResponse, AsyncOffsetPagination[ProxyListResponse]]:
        """
        List proxies in the resolved project.

        Args:
          limit: Limit the number of proxies to return.

          name: Exact-match filter on proxy name using the database collation. In production,
              matching is case- and accent-insensitive. Names are not required to be unique,
              so multiple proxies may match.

          offset: Offset the number of proxies to return.

          query: Case-insensitive substring match against proxy name, host, or IP address. IDs
              match by exact value.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._get_api_list(
            "/proxies",
            page=AsyncOffsetPagination[ProxyListResponse],
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=maybe_transform(
                    {
                        "limit": limit,
                        "name": name,
                        "offset": offset,
                        "query": query,
                    },
                    proxy_list_params.ProxyListParams,
                ),
            ),
            model=ProxyListResponse,
        )

    async def delete(
        self,
        id: str,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> None:
        """Soft delete a proxy.

        Session records referencing it are not modified. If egress
        binding polling is enabled, existing tunnels for active sessions using the proxy
        are terminated within one polling interval; subsequent connections through the
        deleted proxy are rejected.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not id:
            raise ValueError(f"Expected a non-empty value for `id` but received {id!r}")
        extra_headers = {"Accept": "*/*", **(extra_headers or {})}
        return await self._delete(
            path_template("/proxies/{id}", id=id),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=NoneType,
        )

    async def check(
        self,
        id: str,
        *,
        url: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> ProxyCheckResponse:
        """Run a health check on the proxy to verify it's working.

        Optionally specify a URL
        to test reachability against a specific target. For ISP and datacenter proxies,
        this reliably tests whether the target site is reachable from the proxy's stable
        exit IP. For residential and mobile proxies, the exit node varies between
        requests, so this validates proxy configuration and connectivity rather than
        guaranteeing site-specific reachability.

        Args:
          url: An optional URL to test reachability against. If provided, the proxy check will
              test connectivity to this URL instead of the default test URLs. Only HTTP and
              HTTPS schemes are allowed, and the URL must resolve to a public IP address. For
              ISP and datacenter proxies, the exit IP is stable, so a successful check
              reliably indicates that subsequent browser sessions will reach the target site
              with the same IP. For residential and mobile proxies, the exit node changes
              between requests, so a successful check validates proxy configuration but does
              not guarantee that a subsequent browser session will use the same exit IP or
              reach the same site — it is useful for verifying credentials and connectivity,
              not for predicting site-specific behavior. When provided, the check result does
              not update the proxy's health status, since a failure may indicate a problem
              with the target site rather than the proxy itself.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not id:
            raise ValueError(f"Expected a non-empty value for `id` but received {id!r}")
        return await self._post(
            path_template("/proxies/{id}/check", id=id),
            body=await async_maybe_transform({"url": url}, proxy_check_params.ProxyCheckParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=ProxyCheckResponse,
        )


class ProxiesResourceWithRawResponse:
    def __init__(self, proxies: ProxiesResource) -> None:
        self._proxies = proxies

        self.create = to_raw_response_wrapper(
            proxies.create,
        )
        self.retrieve = to_raw_response_wrapper(
            proxies.retrieve,
        )
        self.update = to_raw_response_wrapper(
            proxies.update,
        )
        self.list = to_raw_response_wrapper(
            proxies.list,
        )
        self.delete = to_raw_response_wrapper(
            proxies.delete,
        )
        self.check = to_raw_response_wrapper(
            proxies.check,
        )


class AsyncProxiesResourceWithRawResponse:
    def __init__(self, proxies: AsyncProxiesResource) -> None:
        self._proxies = proxies

        self.create = async_to_raw_response_wrapper(
            proxies.create,
        )
        self.retrieve = async_to_raw_response_wrapper(
            proxies.retrieve,
        )
        self.update = async_to_raw_response_wrapper(
            proxies.update,
        )
        self.list = async_to_raw_response_wrapper(
            proxies.list,
        )
        self.delete = async_to_raw_response_wrapper(
            proxies.delete,
        )
        self.check = async_to_raw_response_wrapper(
            proxies.check,
        )


class ProxiesResourceWithStreamingResponse:
    def __init__(self, proxies: ProxiesResource) -> None:
        self._proxies = proxies

        self.create = to_streamed_response_wrapper(
            proxies.create,
        )
        self.retrieve = to_streamed_response_wrapper(
            proxies.retrieve,
        )
        self.update = to_streamed_response_wrapper(
            proxies.update,
        )
        self.list = to_streamed_response_wrapper(
            proxies.list,
        )
        self.delete = to_streamed_response_wrapper(
            proxies.delete,
        )
        self.check = to_streamed_response_wrapper(
            proxies.check,
        )


class AsyncProxiesResourceWithStreamingResponse:
    def __init__(self, proxies: AsyncProxiesResource) -> None:
        self._proxies = proxies

        self.create = async_to_streamed_response_wrapper(
            proxies.create,
        )
        self.retrieve = async_to_streamed_response_wrapper(
            proxies.retrieve,
        )
        self.update = async_to_streamed_response_wrapper(
            proxies.update,
        )
        self.list = async_to_streamed_response_wrapper(
            proxies.list,
        )
        self.delete = async_to_streamed_response_wrapper(
            proxies.delete,
        )
        self.check = async_to_streamed_response_wrapper(
            proxies.check,
        )
